<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <meta name="author" content="Tarantola Diego">
    <meta name="description" content="Questa è una pagina dedicata per tener aggiornati gli utenti sulle temperature in giro per il mondo">
    <meta name="keywords" content="meteo, Italia, Città, temperatura, previsioni, html, css">
    <meta name="copyright" content="html.it">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto+Slab:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>DTM</title>

    <!-- Inizio -->
    <script type="application/json">
      {
        "@type" : "WebPage",
        "author" : "Tarantola Diego",
        "editor" : "Tarantola Diego",
        "age" : 22,
        "name" : "Meteo",
        "description" : "Pagina web creata per informare gli utenti sul meteo in giro per il mondo",
        "keywords" : "Meteo, Italia, Previsioni, Temperature",

        "recapiti" : {
          "@type" : "Dati",
          "email" : ["diego.tarantola2000@gmail.com" ]
        }
      }
    </script>
    <!-- Fine -->

  </head>
  
  <body>

    <!-- Inizio Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed">
      <div class="container-fluid">
        <a class="navbar-brand">DTMeteo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="index">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="cercaPrevisioni">Previsioni</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="form">Form</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" onclick="changeStatus()">Dark Mode</a>
            </li>  

            <li class="nav-item">
              <input type="checkbox" id="check" onclick="changeStatus()"></input>
            </li>  

          </ul>

            <a href="cerca" class="btn btn-outline-primary search">Meteo ora</a>

        </div>
      </div>
    </nav>
    <!-- Fine Navbar-->


    <!-- Inizio Carosello -->
    <div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 0"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 3"></button>
      </div>

      <div class = "carousel-inner">

        <div class ="carousel-item active">
          <div class="overlay-image" style="background-image: url(img/parigi.jpg);"></div>
            <div class="containerCar">
              <h1>Parigi</h1>
              <p>La capitale di Francia</p>
              <form action="previsioni" method="POST">
                <button class="btn btn-lg btn-primary white" type="submit">
                 Meteo
                </button>
                <input type="text" name="city" value="Parigi" class="city">
              </form>
            </div>
        </div>

        <div class ="carousel-item">
          <div class="overlay-image" style="background-image: url(img/barcellona.jpg);"></div>
            <div class="containerCar">
              <h1>Barcellona</h1>
              <p>Una delle più belle città di Spagna</p>
              <form action="previsioni" method="POST">
                <button class="btn btn-lg btn-primary white" type="submit">
                 Meteo
                </button>
                <input type="text" name="city" value="Barcellona" class="city">
              </form>
            </div>
        </div>

        <div class ="carousel-item">
          <div class="overlay-image" style="background-image: url(img/roma.jpg);"></div>
            <div class="containerCar">
              <h1>Roma</h1>
              <p>Capitale d'Italia</p>
              <form action="previsioni" method="POST">
                <button class="btn btn-lg btn-primary white" type="submit">
                 Meteo
                </button>
                <input type="text" name="city" value="Roma" class="city">
              </form>
            </div>
        </div>

        <div class ="carousel-item">
          <div class="overlay-image" style="background-image: url(img/london.jpg);"></div>
            <div class="containerCar">
              <h1>Londra</h1>
              <p>Capitale dell'Inghilterra e del Regno Unito</p>
              <form action="previsioni" method="POST">
                <button class="btn btn-lg btn-primary white" type="submit">
                 Meteo
                </button>
                <input type="text" name="city" value="Londra" class="city">
              </form>
            </div>
        </div>

      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!-- Fine Carosello -->


    <!-- Inizio previsioni locali -->
    <div class="background">
      <div class="transbox">
        <h1 id="location"></h1>
        <img id="meteoLocal">
        <p id="local">Non è stata fornita la geolocalizzazione del dispositivo</p>
      </div>
    </div>
    <!-- Fine previsioni locali -->


    <!-- Inizio Previsioni attuali -->
    <div class="container">
      <h2>Tempo Live</h2>
      <div class="list">
        <div class="item">

          <div class="question">
            Italia
            <span>
              <span>+</span>
            </span>
          </div>

          <div class="answer">

            <div id="place">

              <div class="item1">
                <div id="right">  
                  <div id = "milano">
                    <h1 class="title1">Milano<br></h1>
                    <img id="milanoImg">
                  </div>
                </div>
                <img id="hidden" data-src="/img/milano.jpg" class="responsive">
              </div>

              <hr id="hidden">

              <div class="item2">
                <div id="left">
                  <div id ="firenze">
                    <h1 class="title2">Firenze<br></h1>
                    <img id="firenzeImg">
                  </div>
                </div>
                <img id="hidden" data-src="/img/firenze.jpg" class="responsive">
              </div>

              <hr id="hidden">

              <div class="item1">
                <div id="right">
                  <div id = "roma">
                    <h1 class="title1">Roma<br></h1>
                    <img id="romaImg">  
                  </div>
                </div>  
                <img id="hidden" data-src="/img/rome.jpg" class="responsive">
              </div>

              <hr id="hidden">

              <div class="item2">
                <div id="left">
                  <div id ="palermo">
                    <h1 class="title2">Palermo</h1>
                    <img id="palermoImg">
                  </div>
                </div>
                <img id="hidden" data-src="/img/palermo.jpg" class="responsive">
              </div>

            </div>

          </div>
        </div>

        <div class="item">

          <div class="question">
            Europa
            <span>
              <span>+</span>
            </span>
          </div>

          <div class="answer">
            
            <div id="place">

              <div class="item1">
                <div id="right">  
                  <div id = "parigi">
                    <h1 class="title1">Parigi<br></h1>
                    <img id="parigiImg">
                  </div>
                </div>
                <img id="hidden" data-src="/img/paris.jpg" class="responsive">
              </div>

              <hr id="hidden">

              <div class="item2">
                <div id="left">
                  <div id ="londra">
                    <h1 class="title2">Londra</h1>
                    <img id="londraImg">
                  </div>
                </div>
                <img id="hidden" data-src="/img/londra.jpg" class="responsive">
              </div>

              <hr id="hidden">

              <div class="item1">
                <div id="right">  
                  <div id = "madrid">
                    <h1 class="title1">Madrid<br></h1>
                    <img id="madridImg">
                  </div>
                </div>
                <img id="hidden" data-src="/img/madrid.jpg" class="responsive">
              </div>

              <hr id="hidden">

              <div class="item2">
                <div id="left">
                  <div id="amsterdam">
                    <h1 class="title2">Amsterdam</h1>
                    <img id="amsterdamImg">
                  </div>
                </div>
                <img id="hidden" data-src="/img/amsterdam.jpg" class="responsive">
              </div>

            </div>

          </div>
        </div>

        <div class="item">
          <div class="question">
            Mondo
            <span>
              <span>+</span>
            </span>
          </div>
          <div class="answer">

            <div id="place">

              <div class="item1">
                <div id="right">  
                  <div id = "new york">
                    <h1 class="title1">New York<br></h1>
                    <img id="new yorkImg">
                  </div>
                </div>
                <img id="hidden" data-src="/img/newyork.jpg" class="responsive">
              </div>

              <hr id="hidden">
              
              <div class="item2">
                <div id="left">
                  <div id="lima">
                    <h1 class="title2">Lima</h1>
                    <img id="limaImg">
                  </div>
                </div>
                <img id="hidden" data-src="/img/lima.jpg" class="responsive">
              </div>
              
              <hr id="hidden">
              
              <div class="item1">
                <div id="right">  
                  <div id = "mosca">
                    <h1 class="title1">Mosca<br></h1>
                    <img id="moscaImg">
                  </div>
                </div>
                <img id="hidden" data-src="/img/mosca.jpg" class="responsive">
              </div>
              
              <hr id="hidden">
              
              <div class="item2">
                <div id="left">
                  <div id="sydney">
                    <h1 class="title2">Sydney</h1>
                    <img id="sydneyImg">
                  </div>
                </div>
                <img id="hidden" data-src="/img/sydney.jpg" class="responsive">
              </div>

            </div>

          </div>
        </div>

      </div>
    </div>
    <!-- Fine Previsioni attuali -->


    <!-- Inizio footer -->
    <div class="container">
      <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
          <li class="nav-item"><a href="previsioni" class="nav-link px-2 text-muted">Meteo</a></li>
          <li class="nav-item"><a href="cercaPrevisioni" class="nav-link px-2 text-muted">Previsioni</a></li>
          <li class="nav-item"><a href="form" class="nav-link px-2 text-muted">Contattaci</a></li>
        </ul>
        <p class="text-center text-muted">&copy; 2022, Tarantola Diego<br>Università Statale di Milano</p>
      </footer>
    </div>
    <!-- Fine footer -->


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"crossorigin="anonymous"></script>

    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="js/menu.js"></script>
    <script type="text/javascript" src="js/imageCity.js"></script>
    <script type="text/javascript" src="js/city.js"></script>

  </body>
</html>